.black_cell{
	background-color: #808080;
}

.white_cell{
	background-color: #FEF7DF;
}

.cell{
	height: 40px;
	width: 40px;
	/*** Prevents cells form be dragged o selected ***/
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#board{
	margin: auto;
}

.piece{
	height: 30px;
	width: 30px;
	margin: auto;
	display: block;
}

#grave{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.black{
	align-self: flex-start;
}

.white{
	align-self: flex-end;
}

[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

[type=radio] + img {
	cursor: pointer;
}

[type=radio]:checked + img {
	outline: 2px solid #7a7a7a;
}